

html
  display: flex
  justify-content: center
  

body
  max-width: 2000px
  width: 100%
  padding: 0
  height: 100%
  margin: 45px 100px 0px 100px
  display: flex
  flex-direction: column
  gap: 50px 
  font-family: "Montserrat"

ul, ol
  list-style: none
  margin: 0
  padding: 0



// Media Queries TABLET
$breakpoint-tablet: 700px
@media screen and (max-width: $breakpoint-tablet)


// Media Queries MOBILE
$breakpoint-mobile: 480px
@media screen and (max-width: $breakpoint-mobile)
  body  
    margin: 0px 0px
    align-items: center
    margin: 20px 
    justifycontent: center

