.collapse-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
  

}
.collapse-title{
    width: 80%;
    height: 34px;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    background-color: #f75454;
    color: white;
    
}

.collapse-button{
    
}