.error-container{
    width: 100%;
    height: auto;
    margin:0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FF6060;

}

.error-404{
    margin: 0;
    font-size: 270px;
    font-style: normal;
    font-weight: 700;
}

.error-type{
    margin: 50px 0px;
    font-size: 36px;
    font-weight: 500;
}

.home-link {
    margin: 0;
    text-decoration: none;
    text-decoration: none;
    text-decoration: underline;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

