html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 2000px;
    width: 100%;
    padding: 0;
    height: 100%;
    margin : 45px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px; //VERRIF ! 
    font-family:"Montserrat";
}

ul, ol {
    list-style: none; 
}