header
  width: 100%
  margin-bottom: 50px
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  flex-wrap: nowrap
  font-family: 'Montserrat'

.navbar
  max-height: 40px
  display: flex
  justify-content: space-between
  flex-direction: row
  align-items: center
  flex-wrap: nowrap
  gap: 57px
  text-decoration: none
  color: black

  button
    display: flex
    justify-content: center
    align-items: center
    font-size: 26px
    font-weight: 500
    text-decoration: none
    border: none
    padding: 0px
    background-color: white
    font-family: 'Montserrat'

  a
    text-decoration: none

  button:hover
    cursor: pointer

  a.active
    border-bottom: 1.5px solid
    width: fit-content
    color: black


footer
  with: 100%
  margin-top: 20px
  position: absolute
  left: 0
  right: 0
 
  .footer__containt
    padding-top: 50px
    padding-bottom: 40px
    font-size: 24px
    font-weight: 500
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 10px
    background-color: black
    color: white
    


// Media Queries MEDIUM DEVICES
$breakpoint-medium: 1024px
@media screen and (max-width: $breakpoint-medium)

  header
    margin-bottom: 20px

  .navbar
    justify-content: flex-end
    gap: 25px
    margin: 0
  
    button
      justify-content: flex-end
      align-items: flex-end
      font-size: 20px
      font-weight: 500
      text-transform: uppercase
   
  .header__title img
    width: 145px
    height: 46px
  
  footer
    
    .footer__containt
      gap: 8px

      img
        width: 180px
        
      p
        font-size: 16px
        width: 130px
        margin-bottom: 50px
        


// Media Queries SMALL DEVICES
$breakpoint-small: 768px
@media screen and (max-width: $breakpoint-small)
  .navbar
    button
      font-size: 12.5px
       
  .header__title img
    width: 145px
    height: 46px
  
  footer
    .footer__containt
      padding: 60px 0px 140px 0px
      img
        width: 120px
        margin-bottom: 0px
      p
        font-size: 12px
        width: 100px

  
  


