.gallery__container
    width: 100%
    height: 100%
    border-radius: 25px
    margin-bottom: 50px
    padding: 50px 50px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: 1fr
    grid-gap: 50px
    box-sizing: border-box
    background-color: #F6F6F6


// Media Queries MEDIUM DEVICES
$breakpoint-medium: 1024px
@media screen and (max-width: $breakpoint-medium)

    .gallery__container
        grid-template-columns: repeat(2, 1fr)
        padding: 20px 20px
        grid-gap: 20px
        margin-bottom: 20px
    
    
// Media Queries SMALL DEVICES
$breakpoint-small: 768px
@media screen and (max-width: $breakpoint-small)
    .gallery__container
        grid-template-columns: repeat(1, 1fr) 
        background-color: inherit
        padding: 0px
       
       
    
        
